@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.font-work-sans {
  font-family: "Work Sans", sans-serif;
}

nav a.active {
  border: 1px solid #23be0a;
  font-weight: bold;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  color: #23be0a;
}
nav a.active:hover {
  background: #23be0a;
  color: white;
}
.text-color {
  color: #23be0a;
}
